name: Build

on:
  push: # run on push to master
    branches: [ master ]
  pull_request: # run on PR against master
    branches: [ master ]
  workflow_dispatch: # run on button-press in Actions tab

concurrency: # only allow the most recent workflow to execute
  group: 'XtalsPyTools'
  cancel-in-progress: true

env: # environment variables
  julia_version: '1.7.0' # julia version to use on all runners

jobs: # run in parallel within workflow


  unit-and-doc-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout commit
        uses: actions/checkout@master

      - name: set up Julia
        uses: julia-actions/setup-julia@latest
        with:
          version: ${{env.julia_version}}
      
      - name: build package
        uses: julia-actions/julia-buildpkg@latest
      
      - name: install dependencies
        run: |
          julia --project ./quick_setup.jl
          julia --project -e 'import Pkg; Pkg.add.(["Coverage"])'
      
      - name: run tests
        run: julia --project --code-coverage -e 'import Pkg; Pkg.test(coverage=true)'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      
      - name: process test coverage
        uses: julia-actions/julia-processcoverage@v1
      
      - name: upload coverage report
        uses: codecov/codecov-action@v2
        with:
          verbose: true


  cross-platform:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    
    steps:
      - name: checkout commit
        uses: actions/checkout@master

      - name: set up Julia
        uses: julia-actions/setup-julia@latest
        with:
          version: ${{ env.julia_version }}
      
      - name: build package
        uses: julia-actions/julia-buildpkg@latest
      
      - name: install dependencies
        run: julia --project --color=yes -e 'import Pkg; Pkg.add.(["Documenter"])'
        shell: bash
      
      - name: run tests
        run: julia --project --color=yes -e 'import Pkg; Pkg.test()'
        shell: bash
